body, html{
    font-family: Montserrat, sans-serif;
}
*, *:after, *:before {
    box-sizing: border-box;
}
.body-desktop{
    width: 1280px;
    height: 100%;
    margin: 0 auto;
}
header{
    height: 78px;
    text-align: center;
    margin: 0 100px;
}
nav{


}
.menu-item{
    display: inline-block;
    margin: 25px 0;
    text-decoration: none;
}
.menu-item a{
    text-decoration: none;
    color: #f00;
    font-size: 18px;
    font-weight: bold;
    margin: 0 30px;
    letter-spacing: 2.7px;
}
.image-container{
    width: 1280px;
    height: 789px;
}
.content-title{
    font-size: 22px;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    color: #373737;
    margin-top:48px;
    letter-spacing: 3.3px;
}
.content-text{
    font-size: 16px;
    text-align: center;
    line-height: 26px;
    margin: 28px 68px;
    letter-spacing: 2.4px;
}
.button{
    background-color: #ff0000;
    margin: 42px auto;
    width: 191px;
    color: #fff;
    text-align: center;
    border-radius: 4px;
    padding: 16px 0;
    cursor: pointer;
}
.copyright{
    width: 1070px;
    margin: 40px auto;
    text-align: right;
    color: #373737;
    font-size: 16px;
    font-weight: bold;
}
